{% extends "_layouts/_layout-guide.html" %}

{% set pagetitle = "Hernia surgery" %}

{% block breadcrumb %}
    <li><a href="#" class="button -bordered -small">Conditions</a></li>
    <li><a href="#" class="button -bordered -small">Lumps & swellings</a></li>
    <li><a href="/condition/hernia" class="button -bordered -small">Hernia</a></li>
    <li class="selected">Hernia surgery</li>
{% endblock %}
    
{% block header %}
    <div class="content-seperator"></div>
    <ul class="nav-list">
        <li class="nav-item"><a href="#01" class="link">Booking a hospital appointment with  the surgeon</a></li>
        <li class="nav-item"><a href="#02" class="link">Seeing the surgeon</a></li>
        <li class="nav-item"><a href="#03" class="link">Confirming your surgery date</a></li>
        <li class="nav-item"><a href="#04" class="link">Checking you are fit for surgery</a></li>
        <li class="nav-item"><a href="#05" class="link">Getting ready for surgery</a></li>
        <li class="nav-item"><a href="#06" class="link">Day of your surgery</a></li>
        <li class="nav-item"><a href="#07" class="link">Going home and recovery</a></li>
    </ul>
{% endblock %}
    
{% block content %}

    <h2 class="heading-xlarge" id="01">1. Booking a hospital appointment with the surgeon</h2>
    <p>Your GP might book your first appointment with the surgeon for you. If they don’t, you’ll get a letter with a reference number to book online or over the phone.</p>
    <p>You can choose which hospital you want to go to. Once booked, you’ll get a confirmation in the post.</p>
    
    <!--<p><a href="#" class="button">Book a GP appointment</a></p>-->

    <div class="header-prefix">
        <span>Approx 6 weeks</span>
    </div>

    <h2 class="heading-xlarge" id="02">2. Seeing a surgeon</h2>
    <p>The surgeon will explain what treatment options you have, and the benefits and risks of surgery. You can ask them any questions. This is the time when you decide if you want to go ahead with the operation.</p>
    <p><a href="/condition/hernia/hernia-operation">About your hernia operation</a></p>
    <p><a href="/guide/hernia/seeing-the-surgeon">Questions to ask your surgeon</a></p>

    <div class="header-prefix">
        <span>Approx 2 weeks</span>
    </div>

    <h2 class="heading-xlarge" id="03">3. Confirming your surgery date</h2>
    <p>After your appointment with the surgeon you’ll get a letter confirming the date of your operation.</p>
    <p>You can change the date but you might have to wait several weeks to get a new one.</p>

    <div class="header-prefix">
        <span>Approx 3 weeks</span>
    </div>

    <h2 class="heading-xlarge" id="04">4. Checking your are fit for surgery</h2>
    <p>If you’re having a general anaesthetic, you’ll have an appointment with a nurse at the hospital to make sure you’re healthy enough for surgery. This is called a pre-operative assessment or pre-op.</p>
    <p>If you’re not healthy enough, the operation may be postponed.</p>
    <p><a href="/guide/hernia/preparing-for-your-pre-op">Preparing for your pre-operative assessment appointment</a></p>

    <div class="header-prefix">
        <span>Approx 2 weeks</span>
    </div>

    <h2 class="heading-xlarge" id="05">5. Getting ready for surgery</h2>
    <p>The nurse will tell you how to prepare for the operation. You might have to do things like change or stop taking your medicine.</p>
    <p>On the morning of your surgery, you should:</p>
    
    <ul>
        <li>have a bath or shower</li>
        <li>remove all jewellery, including any piercings </li>
    </ul>

    <div class="callout notice">
        <p>On the morning of the surgery you must not eat after midnight, and not drink after 6am.</p>
    </div>

    <div class="content-seperator -grey" id="06"></div>
    
    <h2 class="heading-xlarge">6. Day of your surgery</h2>
    <p>When you arrive at the hospital go to the reception desk at your ward. Bring the letter with the confirmation of your surgery date with you.</p>
    <p><a href="/guide/hernia/the-day-of-your-surgery">The day of your surgery</a></p>

    <div class="content-seperator -grey" id="07"></div>

    <h2 class="heading-xlarge">7. Going home and recovery</h2>
    <p>You can go home when you feel well enough, and can eat and drink. You must be able to walk (if you’re not in a wheelchair), and pee.</p>
    <p>You’ll need someone to help you home by car or taxi and stay with you for at least 24 hours. </p>
    <p><a href="/guide/hernia/recovery">Going home and recovery</a></p>

{% endblock %}
