{% extends "_layouts/_layout-guide.html" %}

{% set pagetitle = "Going home and recovery" %}
{% set backbutton = "/guide/hernia" %}

{% block breadcrumb %}
    <li><a href="#" class="button -bordered -small">Conditions</a></li>
    <li><a href="#" class="button -bordered -small">Lumps & swellings</a></li>
    <li><a href="/condition/hernia" class="button -bordered -small">Hernia</a></li>
    <li><a href="/guide/hernia" class="button -bordered -small">Hernia surgery</a></li>
    <li class="selected">{{pagetitle}}</li>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <!--<div class="content-seperator -grey" id="01"></div>-->
    <h3>Going home</h3>
    <p>You can go home when you feel well enough, and can eat and drink. You must be able to walk (if you are not in a wheelchair), and pee.</p>
    <p>Your surgeon will check on your before you go home.</p>
    <p>You’ll get a box of medication including painkillers to take home.</p>
    <p>You’ll get a copy of your discharge letter explaining what has happened, which will also be sent to your GP and a  sick note if you need one.</p>

    <h3>Help with your recovery</h3>
    <p>You’re likely to feel very tired when you get home, particularly if you’ve had a general anaesthetic (you were asleep during the operation). </p>
    <p>It’s normal for your wound and groin to be swollen for a few days.</p>

    <h3>Take painkillers to help with pain</h3>
    <p>Follow your doctor’s advice about taking medication. They’re likely to recommend:</p>
    <ul>
    <li>paracetamol</li>
    <li>paracetamol and codeine (combined in the tablet co-codamol)</li>
    <li>ibuprofen</li>
    </ul>
    <p>Some painkillers can cause constipation. You can buy laxative medicine from your pharmacy to help this.</p>

    <h3>Look after your wound</h3>
    <p>You will have a waterproof dressing covering the wound so you can shower.  You can change it after 2 days.  Keep the dressing clean and as dry as possible.</p>
    <p>You will most likely have dissolvable stitches, which do not need to be removed. If you have non-dissolvable stitches or staples, make an appointment with the nurse at your GP surgery to remove them.</p>
    <p>If you are constipated, avoid straining while your wound is healing. Take laxatives to help with your constipation.</p>

    <div class="callout gp">
      <h3>See your GP if</h3>
      <ul>
        <li>your wound becomes red, swollen or feels hot</li>
        <li>fluid leaks from your wound</li>
        <li>you have a fever</li>
        <li>you’re vomiting </li>
        <li>you have difficulty peeing</li>
      </ul>
    </div>

    <h3>Stay active</h3>
    <p>You should move around as soon as possible after surgery.  This encourages your blood to flow and your wound to heal. </p>
    <p>You can do gentle activities like walking but don’t lift heavy objects for around 6 weeks.  </p>
    <p>Generally, you should be able to go back to work after 1 or 2 weeks, unless your job involves manual labour. </p>
    <p>It’s usually okay to have sex as soon as you feel like it. </p>

{% endblock %}
