{% extends "_layouts/_layout-guide.html" %}

{% set pagetitle = "Questions to ask your surgeon" %}
{% set subtitle = "Your first appointment will be with a surgeon. You can bring someone with you" %}
{% set backbutton = "/guide/hernia" %}

{% block breadcrumb %}
    <li><a href="#" class="button -bordered -small">Conditions</a></li>
    <li><a href="#" class="button -bordered -small">Lumps & swellings</a></li>
    <li><a href="/condition/hernia" class="button -bordered -small">Hernia</a></li>
    <li><a href="/guide/hernia" class="button -bordered -small">Hernia surgery</a></li>
    <li class="selected">{{pagetitle}}</li>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}

      <!--<div class="content-seperator -grey" id="01"></div>-->

      <p>The surgeon will talk you through the treatments that could help you, and you can decide the best treatment together.  You might decide it’s not surgery.</p>
      <!--<p>You can choose which hospital you want to go to. Once booked, you’ll get a confirmation in the post.</p>-->

      <h3>Questions you might want to ask:</h3>
      <ul>
        <li>What are the different types of treatment, including non-surgical options?</li>
        <li>What will happen if I don’t have surgery?</li>
        <li>What are the benefits, side effects and risks of these treatments?</li>
        <li>What type of anaesthetic will I need?</li>
        <li>What’s the difference between keyhole and open surgery?</li>
      </ul>

      <h3>Other practical questions you may want to ask:</h3>
      <ul>
        <li>How long is the waiting list for this operation?</li>
        <li>How long will I stay in hospital?</li>
        <li>How long will I need to take off work?</li>
        <li>Will I have a scar?</li>
        <li>How long will it take me to recover and get back to normal?</li>
      </ul>

      <p>You can ask any question you want. This is your time with the surgeon.</p>
      <p><a href="https://www.rcseng.ac.uk/patient-care/having-surgery/">The Royal College of Surgeons of England (RCS) website</a> have answers to more questions about surgery.</p>
      <p>Your surgeon may be able to book you the date for your operation.</p>
      <p>This appointment usually lasts 15-20 mins.</p>

{% endblock %}
