{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Index" %}

{% block localheader %}{% endblock %}

{% block content %}
  <div class="content">
    <h1>Day surgery prototypes</h1>
    <h3>V2.0 Flats</h3>
    <ul>
        <li><a href="/hernia--steps-to-surgery/cover.html">Hernia: Steps to surgery</a></li>
        <li><a href="/hernia--day-surgery/cover.html">Hernia: Day surgery guide</a></li>
        <li><a href="/joint-replacement--steps-to-surgery/cover.html">Joint replacement: Steps to surgery</a></li>
        <li><a href="/joint-replacement--surgery/cover.html">Joint replacement: Surgery guide</a></li>
    </ul>
    <h3>V3.0</h3>
    <ul>
      <li><a href="/google/index">User journey: Google</a></li>
      <li><a href="/condition/hernia/">Hernia</a></li>
      <li><a href="/guide/hernia/">Hernia: Step by step surgery guide</a></li>
    </ul>

  </div>
{% endblock %}
