{% extends "_layouts/_layout-condition.html" %}

{% set pagetitle = "Hernia operation" %}

{% block breadcrumb %}
  <li><a href="#" class="button -bordered -small">Conditions</a></li>
  <li><a href="#" class="button -bordered -small">Lumps & swellings</a></li>
  <li><a href="/condition/hernia" class="button -bordered -small">Hernia</a></li>
  <li class="selected">{{pagetitle}}</li>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}

  <p>You’ll need an operation to fix a hernia.</p>  
  <p>You may not need an operation straight away. It won’t get better without surgery, but it doesn’t always get worse. You can discuss with your doctor whether or not you need surgery.  They’ll consider:</p>
  <ul>
    <li>the type of hernia you have - some are more prone to complications</li>
    <li>if your hernia is causing problems, such as pain</li>
    <li>your health - surgery may be a risk in some cases</li>
  </ul>
  <p class="callout info">This section focuses on hernia in the groin.  For information about other hernias read <a href="http://www.nhs.uk/Conditions/Hernia-hiatus/Pages/Introduction.aspx">hiatus hernia</a> or <a href="http://www.nhs.uk/Conditions/UmbilicalHernia/Pages/Whatisitpage.aspx">umbilical hernia</a></p>

  <h2 class="heading-xlarge" id="02">Groin hernia operation</h2>

  <div class="video-module">
    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="640.8" height="360" type="text/html" src="https://www.youtube.com/embed/LfwymP91S7A?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"></iframe>
  </div>

  <p>There are two types of hernia operation:</p>

  <h2 class="heading-large" id="02">Open surgery</h2>
  <ol>
    <li>You’ll be given an injection in the spine to numb the area (local anaesthetic), or an injection into the vein to make you sleep during the operation (general anaesthetic).</li>
    <li>The surgeon will make a cut (6-8cm long) over the hernia.  They will push the hernia back into your tummy and stitch a mesh over the weak spot the hernia came through. This strengthens it.</li>
    <li>Your skin will be stitched back together with dissolvable stitches</li>
  </ol>

  <h2 class="heading-large" id="02">Keyhole (laparoscopic) surgery</h2>
  <ol>
    <li>You’ll be given an injection to make you sleep during the operation (general anaesthetic).</li>
    <li>The surgeon will make 3 small cuts in your tummy. Your tummy will be filled with gas to make space and a camera and 2 small tools are inserted into the cuts. Your surgeon can see what they’re doing through the camera. </li>
    <li>Your surgeon will pull the hernia back into your tummy and stitch a mesh over the weak spot in the muscle. </li>
    <li>The cuts in your skin will then be glued or stitched back together. </li>
  </ol>

  <h3 class="heading-large" id="02">Types of keyhole surgery</h3>
  <p>There are 2 types of keyhole surgery for hernia:</p>

  <div class="progressive-reveal">
    <details>
      <summary>Transabdominal preperitoneal (TAPP)</summary>
      <div class="reveal">
        <div class="callout info">
          <p><span class="bold">Transabdominal preperitoneal (TAPP)</span> - instruments are inserted through the lining of your tummy into the space around your organs (the peritoneum). </p>
        </div>
      </div>
    </details>
  </div>

  <div class="progressive-reveal">
    <details>
      <summary>Totally extraperitoneal (TEP) </summary>
      <div class="reveal">
        <div class="callout info">
          <p><span class="bold">Totally extraperitoneal (TEP)</span> - a newer type of surgery.  The hernia is repaired without going through the lining of your organs. </p>
        </div>
      </div>
    </details>
  </div>

{% endblock %}