img {
  display: block;
  max-width: 100%;
}

.image-module {
  margin: 0 0 $leading*2 0;
  min-height: $leading*18 ;
  border-bottom: 1px solid rgba($nhs-blue,0.2);
}

.image-description {
  @include media(large) {
    overflow: auto;
    }
}

.condition-images {
  @extend %contain-floats;
  margin: $leading*2 0 $leading 0;

  @include media(707px) {
    text-align: left;
  }

  figure {
    display: block;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    margin: 0 auto $leading auto;

    @include media(707px) {
      display: inline-block;
      vertical-align: top;
      margin: 0 $leading $leading 0;
    }
  }

  figcaption {
    padding: $leading/2 $leading/2 $leading $leading/2;
    background-color: tint($blue, 80%);
  }
}

.image-carousel {
  margin-bottom: $leading*2;

  > ul {
    background-color: $nhs-grey-light;
    margin-top: 0px;
    padding: 0;
  }

  > ul li {
    background-color: rgba($nhs-grey-light, 0.5);
    text-align: center;
    box-sizing: border-box;
    margin:0;
    display: inline-block;
    list-style-type: none;
    width: 50%;
    padding: $leading 0;
    border-left:1px solid rgba($nhs-grey-mid, 0.5);
    border-top:1px solid rgba($nhs-grey-mid, 0.5);
  }

  @include media(mid) {
    > ul li {
      width: 25%;

    }
  }

  > ul li.selected {
    background-color: $nhs-blue;
    color: $white;
  }

  > ul li:first-child ul {
    border: none;
  }
}

/* hack */
.no-mobile-image {
  visibility: hidden;

    @include media(large) {
    visibility: visible;
    }
}