$gutter: 3.4%;

.grid-row {
  @extend %contain-floats;
  display: block;
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
}

.grid-row [class*='grid-'] {
  margin-left: $gutter/2;
  margin-right: $gutter/2;
}

.grid-1-2 {
  width: (100%-$gutter);

  @include media(640px) {
    width: (50%-$gutter);
    float: left;
  }
}

.grid-1-3 {

  width: (100%-$gutter);

  @include media(640px) {
    width: (33.3%-$gutter);
    float: left;
  }
}

.grid-2-3 {

  width: (100%-$gutter);

  @include media(640px) {
    width: (33.3333%*2-$gutter);
    float: left;
  }
}

.grid-1-4 {
  width: (25%-$gutter);
  float: left;
}
.grid-3-4 {
  width: (25%*3-$gutter);
  float: left;
}

.grid-1-6 {
  width: (16.6666%-$gutter);
  float: left;
}

.grid-1-12 {
  width: (8.3333%-$gutter);
  float: left;
}

.grid-5-12 {
  width: (100%-$gutter);

  @include media(640px) {
    width: (8.3333%*5-$gutter);
    float: left;
  }
}

.grid-7-12 {
  width: (8.3333%*7-$gutter);
  float: left;
}

.grid-10-12 {
  width: (8.3333%*10-$gutter);
  float: left;
}

.grid-11-12 {
  width: (8.3333%*11-$gutter);
  float: left;
}

.grid-row [class*='grid-'] {
  /*background-color: #eee;*/
}

.grid-1-16 {
  width: (6.25-$gutter);
  float: left;
}

.grid-2-16 {
  width: (6.25*2-$gutter);
  float: left;
}

.grid-3-16 {
  width: (6.25*3-$gutter);
  float: left;
}

.grid-5-16 {
  width: (6.25*5-$gutter);
  float: left;
}

.grid-6-16 {
  @include media(640px) {
  width: (6.25*6-$gutter);
  float: left;
  }
}

.grid-7-16 {
  width: (6.25*7-$gutter);
  float: left;
}

.grid-9-16 {
  width: (6.25*9-$gutter);
  float: left;
}

.grid-10-16 {
  @include media(640px) {
    width: (6.25*10-$gutter);
    float: left;
  }
}
.grid-11-16 {
  width: (6.25*11-$gutter);
  float: left;
}

.grid-13-16 {
  width: (6.25*13-$gutter);
  float: left;
}
.grid-14-16 {
  width: (6.25*14-$gutter);
  float: left;
}
.grid-15-16 {
  width: (6.25*15-$gutter);
  float: left;
}