/* Block */

.callout {
  display: block;
  padding: $leading $leading;
  
  // Remove margin from top and bottom of first and last elements in callout
  > :first-child  { margin-top: 0; }
  > :last-child   { margin-bottom: 0; }
  
}

/* Element */

.callout__small {
  @extend .smallprint;
  display: block;
}

.callout__title {
  display: block;
  color: $nhs-blue;
  
  .callout:hover & {
    color: $light-blue2;
  }
  
}

/* Modifier */

// Testing out call out styles

.callout--guide {
  border: 2px solid $nhs-grey-light;
  border-bottom-width: 4px;
  text-decoration: none;
  position: relative;
}

.callout--info {
  border: 2px solid $nhs-grey-light;
  border-bottom-width: 4px;
  text-decoration: none;
  position: relative;
}

.callout--corner {
  border: 2px solid $nhs-grey-light;
  border-bottom-width: 4px;
  text-decoration: none;
  position: relative;
  
  &:after {
    content:""; 
    position: absolute;
    width: 0;
    height: 0px;
    border-bottom: 42px solid $page-colour;
    border-left: 40px solid $nhs-grey-light;
    bottom: -4px;
    right: -2px;
  }
  
}

.callout--line {
  border-bottom: 4px solid $nhs-grey-light;
  text-decoration: none;
  position: relative;
  
  &:after {
    content:""; 
    position: absolute;
    width: 0;
    height: 0px;
    border-bottom: 30px solid $nhs-grey-light;
    border-left: 30px solid $page-colour;
    bottom: 0;
    right: 0;
  }
  
}

.callout--steps {
  border: 2px solid $nhs-grey-light;
  border-bottom-width: 4px;
  text-decoration: none;
  position: relative;
  
  &:after {
    content:"1 2 3";
    position: absolute;
    bottom: 4px;
    right: 0;
    font-size: 60px;
    @extend .smallprint;
    color: $nhs-grey-light;
  }
  
}


// Other callouts to organise

.callout.aside {
  position: relative;
  z-index: 1;
  top: 0px;
  max-width: 34em;
  margin-top: 0;
  padding-top: $leading*2;



  @include media(mid) {
    top: -1*$leading*3;
    padding-top: $leading;
  }


  @include media(large) {
    top: -1*$leading*4;
    padding-top: $leading;
  }
}

.callout li {
  letter-spacing: 0.5px;
}

/* 999 callout variation */

.callout.emergency {
  background-color: rgba($red, 0.9);
  font-weight: $bodyweight;
  color: $white;
  margin: $leading, 0px, $leading, 0px;

  > ul, p {
    font-size: $callout;
    font-weight: $lightweight;
    line-height: $leading*1.5;
  }

}

.callout.emergency a {
  color: $light-blue3;
  text-decoration: underline;
}

/* Info callout variation */

.callout.info {
  background-color: rgba($nhs-grey-light, 0.2);
  border-top: 2px solid $nhs-grey-light;
  border-bottom: 2px solid $nhs-grey-light;
}

/* GP callout variation */

.callout.gp {
  border: 14px solid $light-blue2;
  margin-bottom: $leading*2;
}

.callout.gp ul {
      margin-bottom: $leading*2; /* possible dperecated */
}

/* 111 callout variation */

.callout.oneoneone {
  color: $white;
}

.callout.oneoneone a{
  color: $white;
}

/* inline callout  */

.callout.notice
{
  background-color: rgba($yellow2, 0.8);
  border-top: 2px solid $yellow-dark;
  border-bottom: 2px solid $yellow-dark;
  margin-bottom: 32px;
}

.callout.notice p
{
  margin:0px;
}

.callout.urgent {
  background-color: rgba($red, 0.1);
  border-top: $leading/2 solid $red;
  margin-bottom: $leading*2;

  >.headline {
    color: $red;
    line-height: $leading*2.5;
    font-size: 32px;
  }

  >.content-seperator {
    background-color: rgba($nhs-grey-mid, 0.5);
  }

  >p {
    margin-bottom: 0px;
  }

  >ul {
    margin-top: 0px;
    margin-bottom: $leading;
  }

  >ul li {
      margin-bottom:  0px;
  }

}
