body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 768px;
}

img {
  display: block;
  width: 100%;
}

a {
  position: absolute;
  border: 1px solid red;
}
