{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Hernia" %}


{% block content %}

<div class="content">

    <div class="grid-row">
        <div class="grid-3-3">
            <ul class="breadcrumb">
                <li><a href="#" class="button -bordered -small">Conditions</a></li>
                <li><a href="#" class="button -bordered -small">Lumps & swellings</a></li>
                <li class="selected">Hernia</li>
            </ul>
        </div>
    </div>

    <div class="grid-row">
        <div class="grid-3-3">
            <div class="header-panel">
                <h2 class="header">Hernia</h2>
                <div class="content-seperator"></div>
                <h3 class="precis">A hernia looks like a lump under the skin. It can be different sizes.</h3>
            </div>
        </div>
    </div> <!-- end row -->
    
<div class="grid-row">
    <div class="grid-10-16">

        <div class="step-guidance">
            <h2 class="heading-xlarge">When it’s a hernia</h2>
            <ul class="steps">
                <li>The lump is in your groin, stomach or thigh.</li>
                <li>The lump often goes away when you lay down, especially at first.</li>
                <li>The lump often appears when you cough or strain.</li>
                <li>You can push the lump back in.</li>
                <li>You feel a heaviness in your groin.</li>
            </ul>
            <div class="call-to-action">
                <h2 class="heading-large">If you think you have a hernia, speak to a GP</h2>
            </div> 
        </div>

        <div class="image-carousel">
            <h2 class="heading-xlarge" id="02">What does a hernia look like?</h2>
            <img src="/images/hernia/hernia-image-module.jpg" />
            <ul>
                <li class="selected">Groin</li><!--
                --><li ><a href="#">Upper thigh</a></li><!--
                --><li><a href="#">Tummy area</a></li><!--
                --><li><a href="#">Testicle</a></li>
            </ul>
        </div>
        
        <div>
            <p><a href="types_of_hernia_and_complications">Different types of hernia and causes</a></p>
        </div>

        <!--<div>
            <h2 class="heading-xlarge" id="02">What to do about a hernia</h2>
            <p>If you think you have a hernia, speak to a GP.</p>
            <p>Your GP will confirm if your lump is a hernia and discuss how it can be treated.</p>
        </div>-->
        
        <div>
            <h2 class="heading-xlarge" id="03">Hernia treatment</h2>
            <p>Your GP will confirm if your lump is a hernia and discuss how it can be treated.</p>
            <p>You’ll need an operation to repair your hernia. You may not need one straight away - it depends on the the type of hernia and if it’s causing you problems.</p>
            <p>You should be able to have an <a href="operation">operation for groin hernia</a> within 18 weeks of your GP appointment.</p> 
            <p class="callout info"><a href="/hernia/guide-surgery">The steps you need to go through to get to hernia surgery</a></p>
            <!--<p><a href="/hernia/guide-surgery">Step by step guide to hernia surgery</a></p>-->
        </div>

    </div>

    <div class="grid-6-16">
        <div class="callout urgent">
            <h2 class="heading-xlarge headline">See a GP now or go to A&amp;E</h2>
            <p>If you have a hernia and</p>
            <ul>
                <li>it feels hot</li>
                <li>it's hard and tender</li>
                <li>it’s suddenly painful</li>
                <li>you have a fever</li>
                <li>you have blood in your poo</li>
            </ul>
            <div class="content-seperator"></div>
            <p>This could mean you have a</p>
            <details>
              <summary>Strangulated hernia</summary>
              <div><p>If the muscle tightens around a hernia it can cut off the blood supply.  This is a strangulated hernia. You’ll need emergency surgery to treat it.</p></div>
            </details>
    </div>
    </div>

</div> <!-- end row -->

</div> <!-- content -->

{% endblock %}
